
<%- include('../includes/header.ejs') %>
        <link rel="stylesheet" href="/css/includes/add-blog-form.css">
    </head>
    <body>
        <%- include('../includes/nav-header.ejs') %>

        <%- include('../includes/add-blog-form.ejs') %>

        <%- include('../includes/footer.ejs') %>
        
        <script src="/js/nav-header.js" async defer></script>
        <script src="/js/add-blog-validation.js" async defer></script>
    </body>
</html>