
<%- include('../includes/header.ejs') %>
        <link rel="stylesheet" href="/css/auth/login.css">
    </head>
    <body>
        <%- include('../includes/nav-header.ejs') %>
        
        <div class="background">
            <% if(errorMessage){ %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
            <div class="login-main"> 
                <div class="login-card">
                    <div class="login-card-inner">
                        <div class="upper-text">
                            <h2>login</h2>
                            <p>Login to your account Securely</p>
                        </div>
                        <form method="POST" action="/auth/login" class="login-form">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="login-form-inner">
                                <div class="form-control">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email">
                                    <p id="email-valid"></p>
                                </div>
                                <div class="form-control">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password">
                                    <p id="password-valid"></p>
                                    <p class="forget">Forget Password?</p>
                                </div>
                            </div>
                            <button class="arrow" id="submit-button" type="submit">
                                <img id="arrow-img" src="/images/close.webp" alt="arrow">
                            </button>
                        </form>
                        <div class="lower-text">
                            <p>Not registered yet?</p>
                            <a href="/auth/signup"><h3>Create An Account</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/js/login-validation.js" async defer></script>
    </body>
</html>