
.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #2F2FA2;
}

.header-container-inner {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container-inner .logo-section img {
    width: 50px;
    height: 50px;
}

.header-container-inner .options-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
    margin-top: 5px;
}

.header-container-inner .options-section .get-started {
    background: hsla(324, 91%, 46%, 1);
    background: linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E20B8C", endColorstr="#F84B00", GradientType=1 );
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.header-container-inner .options-section .log-in {
    padding: 10px 30px;
    color: hsla(324, 91%, 46%, 1);
    border: 2px solid hsla(324, 91%, 46%, 1);
    background-color: #2F2FA2;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}