a {
    text-decoration: none;
}

.hide {
    display: none;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #2F2FA2;
}

.header-container-inner {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container-inner .logo-section img {
    width: 50px;
    height: 50px;
}

.header-container-inner .options-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
}

.header-container-inner .options-section .profile-main > img {
    width: 50px;   
}

.header-container-inner .options-section .profile-menu {
    position: absolute;
    padding: 15px;
    top: 10px;
    right: 10px;
    width: 350px;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-container-inner .options-section .profile-menu .profile-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #9B9B9B;
}

.header-container-inner .options-section .profile-menu .profile-name > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-container-inner .options-section .profile-menu .profile-name .profile-name-inner > p {
    font-size: 18px;
}

.header-container-inner .options-section .profile-menu .profile-name .profile-name-inner > h6 {
    font-size: 20px;
    font-weight: 500;
}

.header-container-inner .options-section .profile-menu .profile-items {
    padding-top: 10px;
}

.header-container-inner .options-section .profile-menu .profile-items .profile-items-inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 0px;
}

.header-container-inner .options-section .profile-menu .profile-items .profile-items-inner > p {
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.header-container-inner .options-section .profile-menu .profile-items .profile-items-inner > img {
    width: 20px;
    height: 20px;
    padding: 2px 0;
}

.header-container-inner .options-section .profile-menu .profile-items .profile-items-inner > p:hover {
    font-weight: 500;
}

.header-container-inner .options-section .get-started {
    background: hsla(324, 91%, 46%, 1);
    background: linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E20B8C", endColorstr="#F84B00", GradientType=1 );
    border: none;
    padding: 12px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.header-container-inner .options-section .log-in {
    padding: 10px 30px;
    color: hsla(324, 91%, 46%, 1);
    border: 2px solid hsla(324, 91%, 46%, 1);
    background-color: #2F2FA2;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}


@media (max-width: 540px) {

    .header-container-inner {
        width: 95%;
    }

    .header-container-inner .options-section .get-started {
        padding: 9px 15px;
    }
    
    .header-container-inner .options-section .log-in {
        padding: 7px 15px;

    }

    .header-container-inner .options-section .profile-menu {
        width: 250px;
    }

}
